<!DOCTYPE html>
<html>
<head>
    <title>Kiiki Garden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="my_body">
       <% if user_signed_in? %>

 <div><%= link_to current_user.email, edit_user_registration_path %></div>>
 <div><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>

  <% else %>
 
 <div><%= link_to "Sign Up", new_user_registration_path %></div>
 <div><%= link_to "Login", new_user_session_path %></div> 
    <p class="Notice"><%= notice %></p>
       <p class="Alert"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
